<section id="certificaciones" aria-label="Certificaciones obtenidas" 
    class="min-h-screen p-4 md:p-8 pt-20 md:pt-24">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-6 md:mb-10">Certificaciones</h2>

    <!-- Front -->
    <div class="container mx-auto px-4 mb-10 md:mb-14">
        <h3 class="text-xl md:text-2xl font-semibold text-center mb-4 md:mb-6 text-light-pink">Frontend</h3>
        <div class="relative group" role="group" aria-labelledby="Certificaciones Frontend">
            <div class="overflow-hidden" role="region" aria-live="polite">
                <div class="flex gap-4 md:gap-8 transition-transform duration-500" 
                data-carousel-track
                role="list">
                    
                    <div class="min-w-[calc(100%-2rem)] md:min-w-[calc(33.333%-1.5rem)] 
                    bg-light-violet/10 rounded-xl border border-light-pink/20 
                    hover:border-light-lavanda/40 transition-all"
                    role="listitem"
                    aria-label="Certificación Desarrollo Web con HTML">
                    <div class="h-56 w-full overflow-hidden rounded-lg flex-shrink-0">
                        <img 
                            src="/public/images/cursos/Certificado-Desarrollo-Web-con-HTML-EducacionIT.webp" 
                            alt="Certificado Desarrollo Web con HTML EducacionIT" 
                            class="object-contain size-9/6 p-3 rounded-lg"
                            loading="eager"
                            fetchpriority="high"
                            decoding="async">
                    </div>
                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold text-center mb-2">Desarrollo Web con HTML</h3>
                        <a 
                            rel="preload"
                            href="https://www.educacionit.com/perfil/agustin-ariel-ceballos-1058921/certificado/80151?_gl=1*1ex6ujd*_ga*ODQ0OTYzODQzLjE3Mzk4MTM5NDQ.*_ga_R8GR8LL2B8*MTc0MjkwNzk0Ni43LjEuMTc0MjkwOTY5OS41Ny4wLjE2MDQzNTA4OTQ."
                            target="_blank"
                            class="block w-full mt-4 py-2 text-center bg-light-pink/10 rounded-lg hover:bg-light-pink/20 transition-all duration-300"
                            aria-label="Ver certificado de Desarrollo Web con HTML (se abre en una ventana nueva)">
                            Ver Certificado
                        </a>
                    </div>
                </div>


            </div>
        </div>


        <button class="carousel-prev absolute top-1/2 left-2 md:-left-12 transform -translate-y-1/2 p-2.5 rounded-full shadow-lg 
        bg-light-pink/10 hover:bg-light-pink/20 transition-all duration-500 cursor-pointer disabled:opacity-50 disabled:cursor-pointer"
        aria-label="Certificaciones anteriores de Frontend">
            <svg class="w-5 h-5 md:w-6 md:h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"/>
            </svg>
        </button>
        <button class="carousel-next absolute top-1/2 right-2 md:-right-12 transform -translate-y-1/2 p-2.5 rounded-full shadow-lg 
        bg-light-pink/10 hover:bg-light-pink/20 transition-all duration-500 cursor-pointer disabled:opacity-50 disabled:cursor-pointer"
        aria-label="Siguientes certificaciones de Frontend">
            <svg class="w-5 h-5 md:w-6 md:h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
            </svg>
        </button>
    </div>
</div>

<!-- Back -->
<div class="container mx-auto px-4 mb-10 md:mb-14">
    <h3 class="text-xl md:text-2xl font-semibold text-center mb-4 md:mb-6 text-light-pink">Backend</h3>
    <div class="relative group" role="group" aria-labelledby="Certificaciones Backend">
        <div class="overflow-hidden" role="region" aria-live="polite">
            <div class="flex gap-4 md:gap-8 transition-transform duration-500" 
            data-carousel-track
            role="list">
                
                <div class="min-w-[calc(100%-2rem)] md:min-w-[calc(33.333%-1.5rem)] bg-light-violet/10 rounded-xl border border-light-pink/20 hover:border-light-lavanda/40 transition-all"
                role="listitem"
                aria-label="Certificación Spring Framework 6 & Spring Boot 3">
                    <div class="h-56 w-full overflow-hidden rounded-lg flex-shrink-0">
                        <img 
                            src="/public/images/cursos/Certificado-Spring-Framework-6-Spring-Boot-3.webp" 
                            alt="Certificado Spring Framework 6 & Spring Boot 3" 
                            class="object-contain size-9/6 p-3 rounded-lg"
                            loading="lazy">
                    </div>
                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold text-center mb-2">
                            Spring Framework 6 & Spring Boot 3</h3>
                        <a 
                            href="https://www.udemy.com/certificate/UC-2e19db8a-6fe7-4f47-b2e5-599363834a7f/"
                            target="_blank"
                            class="block w-full mt-4 py-2 text-center bg-light-pink/10 rounded-lg hover:bg-light-pink/20 transition-all duration-300"
                            aria-label="Ver certificado de Spring Framework 6 & Spring Boot 3 (se abre en una ventana nueva)">
                            Ver Certificado
                        </a>
                    </div>
                </div>

                <div class="min-w-[calc(100%-2rem)] md:min-w-[calc(33.333%-1.5rem)] bg-light-violet/10 rounded-xl border border-light-pink/20 hover:border-light-lavanda/40 transition-all">
                    <div class="h-56 w-full overflow-hidden rounded-lg flex-shrink-0"
                    role="listitem"
                    aria-label="Certificación Curso C Sharp Nivel 3 Web ASP.NET">
                        <img 
                            src="/public/images/cursos/Certificado-C-Nivel-3-Agustin-Ceballos.webp" 
                            alt="Certificado Curso C Sharp Nivel 3 Web ASP.NET" 
                            class="object-contain size-9/6 p-3 rounded-lg"
                            loading="lazy"
                            decoding="async">
                    </div>
                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold text-center mb-2">
                            Curso C# Nivel 3 [Web ASP.NET]</h3>
                        <a 
                            href="https://drive.google.com/file/d/1PuGnS8oBLn7uCjtB1IEk4oIQLItHjKld/view?usp=sharing"
                            target="_blank"
                            class="block w-full mt-4 py-2 text-center bg-light-pink/10 rounded-lg hover:bg-light-pink/20 transition-all duration-300"
                            aria-label="Ver certificado de Curso C Sharp Nivel 3 Web ASP.NET (se abre en una ventana nueva)">
                            Ver Certificado
                        </a>
                    </div>
                </div>

                <div class="min-w-[calc(100%-2rem)] md:min-w-[calc(33.333%-1.5rem)] bg-light-violet/10 rounded-xl border border-light-pink/20 hover:border-light-lavanda/40 transition-all"
                role="listitem"
                aria-label="Certificación Curso C Sharp Nivel 2 POO + .NET + SQL">
                    <div class="h-56 w-full overflow-hidden rounded-lg flex-shrink-0">
                        <img 
                            src="/public/images/cursos/Certificado-C-Nivel-2-Agustín-Ceballos.webp" 
                            alt="Certificado Curso C Sharp Nivel 2 POO + .NET + SQL" 
                            class="object-contain size-9/6 p-3 rounded-lg"
                            loading="lazy"
                            decoding="async">
                    </div>
                    <div class="p-4 md:p-6">
                        <h3 class="text-lg md:text-xl font-semibold text-center mb-2">
                            Curso C# Nivel 2 [POO + .NET + SQL]</h3>
                        <a 
                            href="https://drive.google.com/file/d/1EERiH8TkmBJbLJ5MXRfSZU2FjbsmKbvL/view?usp=sharing"
                            target="_blank"
                            class="block w-full mt-4 py-2 text-center bg-light-pink/10 rounded-lg hover:bg-light-pink/20 transition-all duration-300"
                            aria-label="Ver certificado de Curso C Sharp Nivel 2 POO + .NET + SQL (se abre en una ventana nueva)">
                            Ver Certificado
                        </a>
                    </div>
                </div>

                

            </div>
        </div>

        
        <button class="carousel-prev absolute top-1/2 left-2 md:-left-12 transform -translate-y-1/2 p-2.5 rounded-full shadow-lg 
        bg-light-pink/10 hover:bg-light-pink/20 transition-all duration-500 cursor-pointer disabled:opacity-50 disabled:cursor-pointer"
        aria-label="Certificaciones anteriores de Backend">
            <svg class="w-5 h-5 md:w-6 md:h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 1 1.3 6.326a.91.91 0 0 0 0 1.348L7 13"/>
            </svg>
        </button>
        <button class="carousel-next absolute top-1/2 right-2 md:-right-12 transform -translate-y-1/2 p-2.5 rounded-full shadow-lg 
        bg-light-pink/10 hover:bg-light-pink/20 transition-all duration-500 cursor-pointer disabled:opacity-50 disabled:cursor-pointer"
        aria-label="Siguientes certificaciones de Backend">
            <svg class="w-5 h-5 md:w-6 md:h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
            </svg>
        </button>
    </div>
</div>
</section>

<script>
import { initCarousels } from "../scripts/carousel.js";

    initCarousels();
</script>