---
import SkillsIcons from './SkillsIcons.astro'
---

<section id="habilidades" aria-label="Habilidades técnicas" 
class="min-h-screen p-4 md:p-8 pt-16 md:pt-24 mt-12 md:mt-16">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-6 md:mb-8">Habilidades</h2>
    <SkillsIcons class="mt-6 md:mt-8" />
</section>
