---
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'

import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';


const { title = "Portfolio Agustín Ceballos | Desarrollador y Programador Web Full Stack" } = Astro.props
const { description = "Agustín Ceballos. Desarrollador Web Full Stack Jr. Proactivo, adaptable y dedicado. Java. Spring Boot. Angular" } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="alternate icon" type="image/x-icon" href="/favicon.svg" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.svg" />
		<title>{title}</title>
	</head>

	<body class="relative text-black dark:text-white bg-neutral-950">
		<Navbar />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: 'Poppins', system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
		background: radial-gradient(ellipse at top left, #000000, #150050, #3f0071);
		}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>